@font-face {
  font-family: "iconfont"; /* Project id 1594356 */
  src: url('iconfont.woff2?t=1631004437291') format('woff2'),
       url('iconfont.woff?t=1631004437291') format('woff'),
       url('iconfont.ttf?t=1631004437291') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duoqudaokechengfuwu:before {
  content: "\e62a";
}

.icon-agora_dujiabiaoji:before {
  content: "\e60e";
}

.icon-u55:before {
  content: "\e601";
}

.icon-yishixiao:before {
  content: "\e6d9";
}

.icon-components-full:before {
  content: "\e8b5";
}

.icon-lifangtilitiduomiantifangkuai2:before {
  content: "\e7fb";
}

.icon-icon-lifangti:before {
  content: "\e619";
}

.icon-lifangtilitiduomiantifangkuai:before {
  content: "\e7fa";
}

.icon-yinpin:before {
  content: "\e60d";
}

.icon-shipin:before {
  content: "\eafb";
}

.icon-yidong-full:before {
  content: "\e99a";
}

.icon-liantong-full:before {
  content: "\e99b";
}

.icon-dianxin-full:before {
  content: "\e99c";
}

.icon-component-full2:before {
  content: "\e8b2";
}

.icon-component:before {
  content: "\e8b3";
}

.icon-component-full:before {
  content: "\e8b4";
}

.icon-dianshi:before {
  content: "\e634";
}

.icon-shouji:before {
  content: "\e65f";
}

.icon-ipad:before {
  content: "\e68f";
}

.icon-diannao:before {
  content: "\e63c";
}

